
<!DOCTYPE html>
<html>
	<%- partial('layout/layout_head.ejs') %>
	<body>
		<%- partial('layout/layout_header.ejs') %>

		<section id="headline" class="section bg-green">
			<div class="container category position-relative">
				<div class="tagging_warp">
					<img src="/images/category/category.png">
				</div>
				<div class="input_warp">
					<div class="category_btn"></div>
				</div>
				
			</div>
		</section>

		<%- partial('layout/layout_footer.ejs') %>
	</body>
	<%- partial('layout/layout_script.ejs') %>
 
</html>
