
<!DOCTYPE html>
<html>
	<%- partial('layout/layout_head.ejs') %>
	<body>
		<%- partial('layout/layout_header.ejs') %>

		<section id="headline" class="section bg-green detail">
			<div class="container position-relative">
				<div class="left_detail">
                    <div class="detail_tag">
                        <span>#애완동물</span>
                    </div>
                    <div class="detail_content title margin-top">
                        <span>웰시코기 알고 키우자! 예비 웰시코기 반려자들에게 말한다</span>
                    </div>
                    <div class="detail_content text">
                        <span>웰시코기 알고 키우자! 예비 웰시코기 반려자들에게 말한다</span>
                    </div>
                </div>
                <div class="right_detail">
                    ddd
                </div>
			</div>
		</section>

		<%- partial('layout/layout_footer.ejs') %>
	</body>
	<%- partial('layout/layout_script.ejs') %>
 
</html>
