
<!DOCTYPE html>
<html>
	<%- partial('layout/layout_head.ejs') %>
	<body>
		<%- partial('layout/layout_header.ejs') %>

		<section id="headline" class="section bg-green detail">
			<div class="container position-relative">
				<div class="detail_top">
                    <div class="detail_left">
                        
                    </div>
                    <div class="detail_right">

                    </div>
                </div>


                <div class="detail_bottom">
                    <div class="detail_left">
                        <div class="detail_content">
                            <div class="detail_keyword">
                                <h3>π”‘ μ£Όμ” ν‚¤μ›λ“</h1>
                                <div class="keyword_warp">
                                    <span># κ²μ„</span>
                                    <span># μ¤λ²„μ›μΉ</span>
                                    <span># λΈ”λ¦¬μλ“</span>
                                    <span># μ¦κ²</span>
                                    <span># νΈλ μ΄μ„</span>
                                    <span># λΌμΈν•λ¥΄νΈ</span>
                                </div>
                            </div>
                            <div id="chart-area"></div>
                        </div>
                    </div>
                    <div class="detail_right">
                        <div class="word_cloud">
                        </div>
                    </div>
                </div>

                
            
			</div>
        </section>
        

		<%- partial('layout/layout_footer.ejs') %>
    </body>
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://rawgit.com/jasondavies/d3-cloud/master/build/d3.layout.cloud.js"></script>
    <%- partial('layout/layout_script.ejs') %>
    <script>
        createWordCloud();
        createKeywordChart();
    </script>
    
 
</html>
