
<!DOCTYPE html>
<html>
	<%- partial('layout/layout_head.ejs') %>
	<body>
		<%- partial('layout/layout_header.ejs') %>

		<section id="headline" class="section">
			<div class="container">
				<div class="left_comment">동영상의</div>
				<div class="right_comment">를 지정하세요</div>
				<div class="left">[</div>
				<div class="right">]</div>
				<div class="bottom">유튜브 태깅 서비스</div>
				<img class="logo" src="/images/logo/logo.png" alt="tagging">
				<div id="wording_slider">
						<div class="slider">
							<div class="slider_item_wrapper" style="transition: none 0s ease 0s; height: 248px; top: 0px;">
								<div class="item"># 영화/애니메이션</div>
								<div class="item"># 자동차/교통</div>
								<div class="item"># 음악</div>
								<div class="item"># 애완동물/동물</div>
								<div class="item"># 스포츠</div>
								<div class="item"># 여행/이벤트</div>
								<div class="item"># 게임</div>
								<div class="item"># 인물/블로그</div>
								<div class="item"># 코미디</div>
								<div class="item"># 엔터테인먼트</div>
								<div class="item"># 뉴스/정치</div>
								<div class="item"># 노하우/스타일</div>
								<div class="item"># 교육</div>
								<div class="item"># 과학기술</div>
								<div class="item"># 비영리/사회운동</div>
							</div>
						</div>
					</div>
			</div>
		</section>

		<section id="items" class="section">
			<div class="container">
				<div class="item_list">
					<a href="#"><div class="item item_first"><img src="/images/index/hashtag.png" class="icon"><h5 class="title">조회</h5><div class="button">바로가기</div></div></a>
					<a href="#"><div class="item item_second"><img src="/images/index/interface.png" class="icon"><h5 class="title">분류</h5><div class="button">바로가기</div></div></a>
					<a href="#"><div class="item item_third"><img src="/images/index/analytics.png" class="icon"><h5 class="title">통계</h5><div class="button">바로가기</div></div></a>
				</div>
			</div>
		</section>


		<div id="lecture" class="section">
			<div class="container">
				<div class="section_list">
					<div class="item_section" id="section_1">
						<div class="section_title">
							# 스포츠
							<div class="buttons">
								<div class="button left"></div>
								<div class="button right"></div>
							</div>
						</div>
						<p class="section_subtitle">코멘트1</p>
						<div class="item_list" style="width: 830px; left: 0px;">
							
							<div class="item">
								<div class="main">
									<img class="image" src="/images/index/test.png">
									<div class="column">
										<h5 class="title">스포츠 제목</h5>
										<p class="content">스포츠 내용</p>
										<div class="progress"><div class="progress_bar charging"></div></div>
										<span class="finish_date">분류완료</span>
									</div>
								</div>
								<div class="overlay">
									<div class="image"><span>스포츠 제목</span></div>
									<div class="column">
										<a href="/" target="_blank"><div class="button detail">자세히 보기</div></a>
									</div>
								</div>
							</div>

							<div class="item">
								<div class="main">
									<img class="image" src="/images/index/test.png">
									<div class="column">
										<h5 class="title">스포츠 제목</h5>
										<p class="content">스포츠 내용</p>
										<div class="progress"><div class="progress_bar charging"></div></div>
										<span class="finish_date">분류완료</span>
									</div>
								</div>
								<div class="overlay">
									<div class="image"><span>스포츠 제목</span></div>
									<div class="column">
										<a href="/" target="_blank"><div class="button detail">자세히 보기</div></a>
									</div>
								</div>
							</div>

							<div class="item">
								<div class="main">
									<img class="image" src="/images/index/test.png">
									<div class="column">
										<h5 class="title">스포츠 제목</h5>
										<p class="content">스포츠 내용</p>
										<div class="progress"><div class="progress_bar charging"></div></div>
										<span class="finish_date">분류완료</span>
									</div>
								</div>
								<div class="overlay">
									<div class="image"><span>스포츠 제목</span></div>
									<div class="column">
										<a href="/" target="_blank"><div class="button detail">자세히 보기</div></a>
									</div>
								</div>
							</div>

							<div class="item">
								<div class="main">
									<img class="image" src="/images/index/test.png">
									<div class="column">
										<h5 class="title">스포츠 제목</h5>
										<p class="content">스포츠 내용</p>
										<div class="progress"><div class="progress_bar charging"></div></div>
										<span class="finish_date">분류완료</span>
									</div>
								</div>
								<div class="overlay">
									<div class="image"><span>스포츠 제목</span></div>
									<div class="column">
										<a href="/" target="_blank"><div class="button detail">자세히 보기</div></a>
									</div>
								</div>
							</div>

							
							
						</div>
					</div>
					<div class="item_section" id="section_2">
						<div class="section_title">
							# 애완동물/동물
							<div class="buttons">
								<div class="button left"></div>
								<div class="button right"></div>
							</div>
						</div>
						<p class="section_subtitle">코멘트2</p>
						<div class="item_list" style="width: 830px; left: 0px;">
							
							<div class="item">
								<div class="main">
									<img class="image" src="/images/index/test1.png">
									<div class="column">
										<h5 class="title">애완동물 제목</h5>
										<p class="content">애완동물 내용</p>
										<div class="progress"><div class="progress_bar charging"></div></div>
										<span class="finish_date">분류완료</span>
									</div>
								</div>
								<div class="overlay">
									<div class="image"><span>애완동물 제목</span></div>
									<div class="column">
										<a href="/" target="_blank"><div class="button detail">자세히 보기</div></a>
									</div>
								</div>
							</div>

							<div class="item">
								<div class="main">
									<img class="image" src="/images/index/test1.png">
									<div class="column">
										<h5 class="title">애완동물 제목</h5>
										<p class="content">애완동물 내용</p>
										<div class="progress"><div class="progress_bar charging"></div></div>
										<span class="finish_date">분류완료</span>
									</div>
								</div>
								<div class="overlay">
									<div class="image"><span>애완동물 제목</span></div>
									<div class="column">
										<a href="/" target="_blank"><div class="button detail">자세히 보기</div></a>
									</div>
								</div>
							</div>

							<div class="item">
								<div class="main">
									<img class="image" src="/images/index/test1.png">
									<div class="column">
										<h5 class="title">애완동물 제목</h5>
										<p class="content">애완동물 내용</p>
										<div class="progress"><div class="progress_bar charging"></div></div>
										<span class="finish_date">분류완료</span>
									</div>
								</div>
								<div class="overlay">
									<div class="image"><span>애완동물 제목</span></div>
									<div class="column">
										<a href="/" target="_blank"><div class="button detail">자세히 보기</div></a>
									</div>
								</div>
							</div>

							<div class="item">
								<div class="main">
									<img class="image" src="/images/index/test1.png">
									<div class="column">
										<h5 class="title">애완동물 제목</h5>
										<p class="content">애완동물 내용</p>
										<div class="progress"><div class="progress_bar charging"></div></div>
										<span class="finish_date">분류완료</span>
									</div>
								</div>
								<div class="overlay">
									<div class="image"><span>애완동물 제목</span></div>
									<div class="column">
										<a href="/" target="_blank"><div class="button detail">자세히 보기</div></a>
									</div>
								</div>
							</div>

							<div class="item">
								<div class="main">
									<img class="image" src="/images/index/test1.png">
									<div class="column">
										<h5 class="title">애완동물 제목</h5>
										<p class="content">애완동물 내용</p>
										<div class="progress"><div class="progress_bar charging"></div></div>
										<span class="finish_date">분류완료</span>
									</div>
								</div>
								<div class="overlay">
									<div class="image"><span>애완동물 제목</span></div>
									<div class="column">
										<a href="/" target="_blank"><div class="button detail">자세히 보기</div></a>
									</div>
								</div>
							</div>

							
							
							
						</div>
					</div>
					<div class="item_section" id="section_3">
						<div class="section_title">
							자동차/교통
							<div class="buttons">
								<div class="button left"></div>
								<div class="button right"></div>
							</div>
						</div>
						<p class="section_subtitle">코멘트3</p>
						<div class="item_list" style="width: 830px; left: 0px;">
							
							<div class="item">
								<div class="main">
									<img class="image" src="/images/index/test2.png">
									<div class="column">
										<h5 class="title">자동차 제목</h5>
										<p class="content">자동차 내용</p>
										<div class="progress"><div class="progress_bar charging"></div></div>
										<span class="finish_date">분류완료</span>
									</div>
								</div>
								<div class="overlay">
									<div class="image"><span>자동차 제목</span></div>
									<div class="column">
										<a href="/" target="_blank"><div class="button detail">자세히 보기</div></a>
									</div>
								</div>
							</div>

							<div class="item">
								<div class="main">
									<img class="image" src="/images/index/test2.png">
									<div class="column">
										<h5 class="title">자동차 제목</h5>
										<p class="content">자동차 내용</p>
										<div class="progress"><div class="progress_bar charging"></div></div>
										<span class="finish_date">분류완료</span>
									</div>
								</div>
								<div class="overlay">
									<div class="image"><span>자동차 제목</span></div>
									<div class="column">
										<a href="/" target="_blank"><div class="button detail">자세히 보기</div></a>
									</div>
								</div>
							</div>

							<div class="item">
								<div class="main">
									<img class="image" src="/images/index/test2.png">
									<div class="column">
										<h5 class="title">자동차 제목</h5>
										<p class="content">자동차 내용</p>
										<div class="progress"><div class="progress_bar charging"></div></div>
										<span class="finish_date">분류완료</span>
									</div>
								</div>
								<div class="overlay">
									<div class="image"><span>자동차 제목</span></div>
									<div class="column">
										<a href="/" target="_blank"><div class="button detail">자세히 보기</div></a>
									</div>
								</div>
							</div>

							<div class="item">
								<div class="main">
									<img class="image" src="/images/index/test2.png">
									<div class="column">
										<h5 class="title">자동차 제목</h5>
										<p class="content">자동차 내용</p>
										<div class="progress"><div class="progress_bar charging"></div></div>
										<span class="finish_date">분류완료</span>
									</div>
								</div>
								<div class="overlay">
									<div class="image"><span>자동차 제목</span></div>
									<div class="column">
										<a href="/" target="_blank"><div class="button detail">자세히 보기</div></a>
									</div>
								</div>
							</div>

							<div class="item">
								<div class="main">
									<img class="image" src="/images/index/test2.png">
									<div class="column">
										<h5 class="title">자동차 제목</h5>
										<p class="content">자동차 내용</p>
										<div class="progress"><div class="progress_bar charging"></div></div>
										<span class="finish_date">분류완료</span>
									</div>
								</div>
								<div class="overlay">
									<div class="image"><span>자동차 제목</span></div>
									<div class="column">
										<a href="/" target="_blank"><div class="button detail">자세히 보기</div></a>
									</div>
								</div>
							</div>

							<div class="item">
								<div class="main">
									<img class="image" src="/images/index/test2.png">
									<div class="column">
										<h5 class="title">자동차 제목</h5>
										<p class="content">자동차 내용</p>
										<div class="progress"><div class="progress_bar charging"></div></div>
										<span class="finish_date">분류완료</span>
									</div>
								</div>
								<div class="overlay">
									<div class="image"><span>자동차 제목</span></div>
									<div class="column">
										<a href="/" target="_blank"><div class="button detail">자세히 보기</div></a>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>

		



		<%- partial('layout/layout_footer.ejs') %>
	</body>
	<%- partial('layout/layout_script.ejs') %>

	<script>
		$(document).ready(function(){
			let idx = 0;
			let flag = 1;
			setInterval(()=>{
				const max = $('.slider_item_wrapper .item').length;
				
				if (idx === max - 1) flag = -1;
				if (idx === 0) flag = 1;
				console.log(flag);
				$('.slider_item_wrapper').css({
					'transition':'all 0.25s ease-out 0s',
					'height':'248px',
					'top':`${(idx) * -37}px`});
				idx += flag;
			},2000);

			$('.item_list .item').hover(function(){
				$(this).find('.main').addClass('hover');
				$(this).find('.overlay').addClass('hover');
			}, function(){
				$(this).find('.main').removeClass('hover');
				$(this).find('.overlay').removeClass('hover');
			});

			$('.button.left').on('click', function(){
				$(this).parents('.item_section').find('.item_list').attr('style','width: 830px; left: 0px;');
			});

			$('.button.right').on('click', function(){
				$(this).parents('.item_section').find('.item_list').attr('style','width: 830px; left: -415px;');
			});


		});
	</script>
 
</html>
