
<!DOCTYPE html>
<html>
	<%- partial('layout/layout_head.ejs') %>
	<body>
		<%- partial('layout/layout_header.ejs') %>

		<section id="headline" class="section bg-lightgray">
			<div class="container">
				<div class="left_comment">λ™μμƒμ</div>
				<div class="right_comment">λ¥Ό μ§€μ •ν•μ„Έμ”</div>
				<div class="left">[</div>
				<div class="right">]</div>
				<div class="bottom">μ νλΈ νƒκΉ… μ„λΉ„μ¤</div>
				<img class="logo" src="/images/logo/logo.png" alt="tagging">
				<div id="wording_slider">
						<div class="slider">
							<div class="slider_item_wrapper" style="transition: none 0s ease 0s; height: 248px; top: 0px;">
								<div class="item"># μν™”/μ• λ‹λ©”μ΄μ…</div>
								<div class="item"># μλ™μ°¨/κµν†µ</div>
								<div class="item"># μμ•…</div>
								<div class="item"># μ• μ™„λ™λ¬Ό/λ™λ¬Ό</div>
								<div class="item"># μ¤ν¬μΈ </div>
								<div class="item"># μ—¬ν–‰/μ΄λ²¤νΈ</div>
								<div class="item"># κ²μ„</div>
								<div class="item"># μΈλ¬Ό/λΈ”λ΅κ·Έ</div>
								<div class="item"># μ½”λ―Έλ””</div>
								<div class="item"># μ—”ν„°ν…μΈλ¨ΌνΈ</div>
								<div class="item"># λ‰΄μ¤/μ •μΉ</div>
								<div class="item"># λ…Έν•μ°/μ¤νƒ€μΌ</div>
								<div class="item"># κµμ΅</div>
								<div class="item"># κ³Όν•™κΈ°μ </div>
								<div class="item"># λΉ„μλ¦¬/μ‚¬νμ΄λ™</div>
							</div>
						</div>
					</div>
			</div>
		</section>

		<section id="items" class="section">
			<div class="container">
				<div class="item_list">
					<a href="/tagging" target="_blank"><div class="item item_first"><img src="/images/index/hashtag.png" class="icon"><h5 class="title">λ¶„μ„</h5><div class="button">λ°”λ΅κ°€κΈ°</div></div></a>
					<a href="/category" target="_blank"><div class="item item_second"><img src="/images/index/interface.png" class="icon"><h5 class="title">λ¶„λ¥</h5><div class="button">λ°”λ΅κ°€κΈ°</div></div></a>
					<a href="/statistics" target="_blank"><div class="item item_third"><img src="/images/index/analytics.png" class="icon"><h5 class="title">ν†µκ³„</h5><div class="button">λ°”λ΅κ°€κΈ°</div></div></a>
				</div>
			</div>
		</section>


		<div id="lecture" class="section">
			<div class="container">
				<div class="section_list">
					<div class="item_section" id="section_1">
						<div class="section_title">
							# μ¤ν¬μΈ  β½οΈ
							<div class="buttons">
								<div class="button left"></div>
								<div class="button right"></div>
							</div>
						</div>
						<p class="section_subtitle">μ½”λ©νΈ1</p>
						<div class="item_list" style="width: 830px; left: 0px;">
							
							<div class="item">
								<div class="main">
									<img class="image" src="/images/index/test.png">
									<div class="column">
										<h5 class="title">μ¤ν¬μΈ  μ λ©</h5>
										<p class="content">μ¤ν¬μΈ  λ‚΄μ©</p>
										<div class="progress"><div class="progress_bar charging"></div></div>
										<span class="finish_date">λ¶„λ¥μ™„λ£</span>
									</div>
								</div>
								<div class="overlay">
									<div class="image"><span>μ¤ν¬μΈ  μ λ©</span></div>
									<div class="column">
										<a href="/" target="_blank"><div class="button detail">μμ„Έν λ³΄κΈ°</div></a>
									</div>
								</div>
							</div>

							<div class="item">
								<div class="main">
									<img class="image" src="/images/index/test.png">
									<div class="column">
										<h5 class="title">μ¤ν¬μΈ  μ λ©</h5>
										<p class="content">μ¤ν¬μΈ  λ‚΄μ©</p>
										<div class="progress"><div class="progress_bar charging"></div></div>
										<span class="finish_date">λ¶„λ¥μ™„λ£</span>
									</div>
								</div>
								<div class="overlay">
									<div class="image"><span>μ¤ν¬μΈ  μ λ©</span></div>
									<div class="column">
										<a href="/" target="_blank"><div class="button detail">μμ„Έν λ³΄κΈ°</div></a>
									</div>
								</div>
							</div>

							<div class="item">
								<div class="main">
									<img class="image" src="/images/index/test.png">
									<div class="column">
										<h5 class="title">μ¤ν¬μΈ  μ λ©</h5>
										<p class="content">μ¤ν¬μΈ  λ‚΄μ©</p>
										<div class="progress"><div class="progress_bar charging"></div></div>
										<span class="finish_date">λ¶„λ¥μ™„λ£</span>
									</div>
								</div>
								<div class="overlay">
									<div class="image"><span>μ¤ν¬μΈ  μ λ©</span></div>
									<div class="column">
										<a href="/" target="_blank"><div class="button detail">μμ„Έν λ³΄κΈ°</div></a>
									</div>
								</div>
							</div>

							<div class="item">
								<div class="main">
									<img class="image" src="/images/index/test.png">
									<div class="column">
										<h5 class="title">μ¤ν¬μΈ  μ λ©</h5>
										<p class="content">μ¤ν¬μΈ  λ‚΄μ©</p>
										<div class="progress"><div class="progress_bar charging"></div></div>
										<span class="finish_date">λ¶„λ¥μ™„λ£</span>
									</div>
								</div>
								<div class="overlay">
									<div class="image"><span>μ¤ν¬μΈ  μ λ©</span></div>
									<div class="column">
										<a href="/" target="_blank"><div class="button detail">μμ„Έν λ³΄κΈ°</div></a>
									</div>
								</div>
							</div>

							
							
						</div>
					</div>
					<div class="item_section" id="section_2">
						<div class="section_title">
							# μ• μ™„λ™λ¬Ό/λ™λ¬Ό π
							<div class="buttons">
								<div class="button left"></div>
								<div class="button right"></div>
							</div>
						</div>
						<p class="section_subtitle">μ½”λ©νΈ2</p>
						<div class="item_list" style="width: 830px; left: 0px;">
							
							<div class="item">
								<div class="main">
									<img class="image" src="/images/index/test1.png">
									<div class="column">
										<h5 class="title">μ• μ™„λ™λ¬Ό μ λ©</h5>
										<p class="content">μ• μ™„λ™λ¬Ό λ‚΄μ©</p>
										<div class="progress"><div class="progress_bar charging"></div></div>
										<span class="finish_date">λ¶„λ¥μ™„λ£</span>
									</div>
								</div>
								<div class="overlay">
									<div class="image"><span>μ• μ™„λ™λ¬Ό μ λ©</span></div>
									<div class="column">
										<a href="/" target="_blank"><div class="button detail">μμ„Έν λ³΄κΈ°</div></a>
									</div>
								</div>
							</div>

							<div class="item">
								<div class="main">
									<img class="image" src="/images/index/test1.png">
									<div class="column">
										<h5 class="title">μ• μ™„λ™λ¬Ό μ λ©</h5>
										<p class="content">μ• μ™„λ™λ¬Ό λ‚΄μ©</p>
										<div class="progress"><div class="progress_bar charging"></div></div>
										<span class="finish_date">λ¶„λ¥μ™„λ£</span>
									</div>
								</div>
								<div class="overlay">
									<div class="image"><span>μ• μ™„λ™λ¬Ό μ λ©</span></div>
									<div class="column">
										<a href="/" target="_blank"><div class="button detail">μμ„Έν λ³΄κΈ°</div></a>
									</div>
								</div>
							</div>

							<div class="item">
								<div class="main">
									<img class="image" src="/images/index/test1.png">
									<div class="column">
										<h5 class="title">μ• μ™„λ™λ¬Ό μ λ©</h5>
										<p class="content">μ• μ™„λ™λ¬Ό λ‚΄μ©</p>
										<div class="progress"><div class="progress_bar charging"></div></div>
										<span class="finish_date">λ¶„λ¥μ™„λ£</span>
									</div>
								</div>
								<div class="overlay">
									<div class="image"><span>μ• μ™„λ™λ¬Ό μ λ©</span></div>
									<div class="column">
										<a href="/" target="_blank"><div class="button detail">μμ„Έν λ³΄κΈ°</div></a>
									</div>
								</div>
							</div>

							<div class="item">
								<div class="main">
									<img class="image" src="/images/index/test1.png">
									<div class="column">
										<h5 class="title">μ• μ™„λ™λ¬Ό μ λ©</h5>
										<p class="content">μ• μ™„λ™λ¬Ό λ‚΄μ©</p>
										<div class="progress"><div class="progress_bar charging"></div></div>
										<span class="finish_date">λ¶„λ¥μ™„λ£</span>
									</div>
								</div>
								<div class="overlay">
									<div class="image"><span>μ• μ™„λ™λ¬Ό μ λ©</span></div>
									<div class="column">
										<a href="/" target="_blank"><div class="button detail">μμ„Έν λ³΄κΈ°</div></a>
									</div>
								</div>
							</div>

							<div class="item">
								<div class="main">
									<img class="image" src="/images/index/test1.png">
									<div class="column">
										<h5 class="title">μ• μ™„λ™λ¬Ό μ λ©</h5>
										<p class="content">μ• μ™„λ™λ¬Ό λ‚΄μ©</p>
										<div class="progress"><div class="progress_bar charging"></div></div>
										<span class="finish_date">λ¶„λ¥μ™„λ£</span>
									</div>
								</div>
								<div class="overlay">
									<div class="image"><span>μ• μ™„λ™λ¬Ό μ λ©</span></div>
									<div class="column">
										<a href="/" target="_blank"><div class="button detail">μμ„Έν λ³΄κΈ°</div></a>
									</div>
								</div>
							</div>

							
							
							
						</div>
					</div>
					<div class="item_section" id="section_3">
						<div class="section_title">
							# μλ™μ°¨/κµν†µ π
							<div class="buttons">
								<div class="button left"></div>
								<div class="button right"></div>
							</div>
						</div>
						<p class="section_subtitle">μ½”λ©νΈ3</p>
						<div class="item_list" style="width: 830px; left: 0px;">
							
							<div class="item">
								<div class="main">
									<img class="image" src="/images/index/test2.png">
									<div class="column">
										<h5 class="title">μλ™μ°¨ μ λ©</h5>
										<p class="content">μλ™μ°¨ λ‚΄μ©</p>
										<div class="progress"><div class="progress_bar charging"></div></div>
										<span class="finish_date">λ¶„λ¥μ™„λ£</span>
									</div>
								</div>
								<div class="overlay">
									<div class="image"><span>μλ™μ°¨ μ λ©</span></div>
									<div class="column">
										<a href="/" target="_blank"><div class="button detail">μμ„Έν λ³΄κΈ°</div></a>
									</div>
								</div>
							</div>

							<div class="item">
								<div class="main">
									<img class="image" src="/images/index/test2.png">
									<div class="column">
										<h5 class="title">μλ™μ°¨ μ λ©</h5>
										<p class="content">μλ™μ°¨ λ‚΄μ©</p>
										<div class="progress"><div class="progress_bar charging"></div></div>
										<span class="finish_date">λ¶„λ¥μ™„λ£</span>
									</div>
								</div>
								<div class="overlay">
									<div class="image"><span>μλ™μ°¨ μ λ©</span></div>
									<div class="column">
										<a href="/" target="_blank"><div class="button detail">μμ„Έν λ³΄κΈ°</div></a>
									</div>
								</div>
							</div>

							<div class="item">
								<div class="main">
									<img class="image" src="/images/index/test2.png">
									<div class="column">
										<h5 class="title">μλ™μ°¨ μ λ©</h5>
										<p class="content">μλ™μ°¨ λ‚΄μ©</p>
										<div class="progress"><div class="progress_bar charging"></div></div>
										<span class="finish_date">λ¶„λ¥μ™„λ£</span>
									</div>
								</div>
								<div class="overlay">
									<div class="image"><span>μλ™μ°¨ μ λ©</span></div>
									<div class="column">
										<a href="/" target="_blank"><div class="button detail">μμ„Έν λ³΄κΈ°</div></a>
									</div>
								</div>
							</div>

							<div class="item">
								<div class="main">
									<img class="image" src="/images/index/test2.png">
									<div class="column">
										<h5 class="title">μλ™μ°¨ μ λ©</h5>
										<p class="content">μλ™μ°¨ λ‚΄μ©</p>
										<div class="progress"><div class="progress_bar charging"></div></div>
										<span class="finish_date">λ¶„λ¥μ™„λ£</span>
									</div>
								</div>
								<div class="overlay">
									<div class="image"><span>μλ™μ°¨ μ λ©</span></div>
									<div class="column">
										<a href="/" target="_blank"><div class="button detail">μμ„Έν λ³΄κΈ°</div></a>
									</div>
								</div>
							</div>

							<div class="item">
								<div class="main">
									<img class="image" src="/images/index/test2.png">
									<div class="column">
										<h5 class="title">μλ™μ°¨ μ λ©</h5>
										<p class="content">μλ™μ°¨ λ‚΄μ©</p>
										<div class="progress"><div class="progress_bar charging"></div></div>
										<span class="finish_date">λ¶„λ¥μ™„λ£</span>
									</div>
								</div>
								<div class="overlay">
									<div class="image"><span>μλ™μ°¨ μ λ©</span></div>
									<div class="column">
										<a href="/" target="_blank"><div class="button detail">μμ„Έν λ³΄κΈ°</div></a>
									</div>
								</div>
							</div>

							<div class="item">
								<div class="main">
									<img class="image" src="/images/index/test2.png">
									<div class="column">
										<h5 class="title">μλ™μ°¨ μ λ©</h5>
										<p class="content">μλ™μ°¨ λ‚΄μ©</p>
										<div class="progress"><div class="progress_bar charging"></div></div>
										<span class="finish_date">λ¶„λ¥μ™„λ£</span>
									</div>
								</div>
								<div class="overlay">
									<div class="image"><span>μλ™μ°¨ μ λ©</span></div>
									<div class="column">
										<a href="/" target="_blank"><div class="button detail">μμ„Έν λ³΄κΈ°</div></a>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>

		



		<%- partial('layout/layout_footer.ejs') %>
	</body>
	<%- partial('layout/layout_script.ejs') %>
 
</html>
