
<!DOCTYPE html>
<html>
	<%- partial('layout/layout_head.ejs') %>
	<body>
		<%- partial('layout/layout_header.ejs') %>

		<section id="headline" class="section bg-green" style="height: 637px; padding: 300px 0; text-align: center;">
			<p style="font-size: 50px; color: #ffffff;">통계 페이지 준비중</p>
		</section>

		<%- partial('layout/layout_footer.ejs') %>
	</body>
	<%- partial('layout/layout_script.ejs') %>
 
</html>
