
<!DOCTYPE html>
<html>
	<%- partial('layout/layout_head.ejs') %>
	<body>
		<%- partial('layout/layout_header.ejs') %>

		<section class="statistics_warp bg-deepgreen">
			<article class="statistics_item">
				<div class="top">
					<img id="img_sports" src="/images/statistics/sports.png">
				</div>
				<div class="bottom">
						<div class="statistics_comment">
							<span class="num">1</span>
							<span class="statistics_title">제목 :</span>
							<span class="statistics_text">내용</span>
						</div>
	
						<div class="statistics_comment">
							<span class="num">2</span>
							<span class="statistics_title">제목 :</span>
							<span class="statistics_text">내용</span>
						</div>
	
						<div class="statistics_comment">
							<span class="num">3</span>
							<span class="statistics_title">제목 :</span>
							<span class="statistics_text">내용</span>
						</div>
	
						<div class="statistics_comment">
							<span class="num">4</span>
							<span class="statistics_title">제목 :</span>
							<span class="statistics_text">내용</span>
						</div>
	
						<div class="statistics_comment">
							<span class="num">5</span>
							<span class="statistics_title">제목 :</span>
							<span class="statistics_text">내용</span>
						</div>
	
						<div class="statistics_comment">
							<span class="num">6</span>
							<span class="statistics_title">제목 :</span>
							<span class="statistics_text">내용</span>
						</div>
	
						<div class="statistics_footer" onclick="showStatisticsBox(this);">
							<span>자세히보기</span>
						</div>
	
					</div>
			</article>

			<article class="statistics_item">
				<div class="top">
					<img id="img_game" src="/images/statistics/game.png">
				</div>
				<div class="bottom">
					<div class="statistics_comment">
						<span class="num">1</span>
						<span class="statistics_title">제목 :</span>
						<span class="statistics_text">내용</span>
					</div>

					<div class="statistics_comment">
						<span class="num">2</span>
						<span class="statistics_title">제목 :</span>
						<span class="statistics_text">내용</span>
					</div>

					<div class="statistics_comment">
						<span class="num">3</span>
						<span class="statistics_title">제목 :</span>
						<span class="statistics_text">내용</span>
					</div>

					<div class="statistics_comment">
						<span class="num">4</span>
						<span class="statistics_title">제목 :</span>
						<span class="statistics_text">내용</span>
					</div>

					<div class="statistics_comment">
						<span class="num">5</span>
						<span class="statistics_title">제목 :</span>
						<span class="statistics_text">내용</span>
					</div>

					<div class="statistics_comment">
						<span class="num">6</span>
						<span class="statistics_title">제목 :</span>
						<span class="statistics_text">내용</span>
					</div>

					<div class="statistics_footer" onclick="showStatisticsBox(this);">
						<span>자세히보기</span>
					</div>

				</div>
			</article>

			<article class="statistics_item">
				<div class="top">
					<img id="img_animal" src="/images/statistics/animal.png">
				</div>
				<div class="bottom">
						<div class="statistics_comment">
							<span class="num">1</span>
							<span class="statistics_title">제목 :</span>
							<span class="statistics_text">내용</span>
						</div>
	
						<div class="statistics_comment">
							<span class="num">2</span>
							<span class="statistics_title">제목 :</span>
							<span class="statistics_text">내용</span>
						</div>
	
						<div class="statistics_comment">
							<span class="num">3</span>
							<span class="statistics_title">제목 :</span>
							<span class="statistics_text">내용</span>
						</div>
	
						<div class="statistics_comment">
							<span class="num">4</span>
							<span class="statistics_title">제목 :</span>
							<span class="statistics_text">내용</span>
						</div>
	
						<div class="statistics_comment">
							<span class="num">5</span>
							<span class="statistics_title">제목 :</span>
							<span class="statistics_text">내용</span>
						</div>
	
						<div class="statistics_comment">
							<span class="num">6</span>
							<span class="statistics_title">제목 :</span>
							<span class="statistics_text">내용</span>
						</div>
	
						<div class="statistics_footer" onclick="showStatisticsBox(this);">
							<span>자세히보기</span>
						</div>
	
					</div>
			</article>

			<article class="statistics_item">
				<div class="top">
					<img id="img_food" src="/images/statistics/food.png">
				</div>
				<div class="bottom">
						<div class="statistics_comment">
							<span class="num">1</span>
							<span class="statistics_title">제목 :</span>
							<span class="statistics_text">내용</span>
						</div>
	
						<div class="statistics_comment">
							<span class="num">2</span>
							<span class="statistics_title">제목 :</span>
							<span class="statistics_text">내용</span>
						</div>
	
						<div class="statistics_comment">
							<span class="num">3</span>
							<span class="statistics_title">제목 :</span>
							<span class="statistics_text">내용</span>
						</div>
	
						<div class="statistics_comment">
							<span class="num">4</span>
							<span class="statistics_title">제목 :</span>
							<span class="statistics_text">내용</span>
						</div>
	
						<div class="statistics_comment">
							<span class="num">5</span>
							<span class="statistics_title">제목 :</span>
							<span class="statistics_text">내용</span>
						</div>
	
						<div class="statistics_comment">
							<span class="num">6</span>
							<span class="statistics_title">제목 :</span>
							<span class="statistics_text">내용</span>
						</div>
	
						<div class="statistics_footer" onclick="showStatisticsBox(this);">
							<span>자세히보기</span>
						</div>
	
					</div>
			</article>


		</section>
		<div id="backdrop"></div>

		<%- partial('layout/layout_footer.ejs') %>
	</body>
	<script src="/js/statistics.js"></script>
	<%- partial('layout/layout_script.ejs') %>
	
</html>
