<!DOCTYPE html>
<html>
	<%- partial('layout/layout_head.ejs') %>
	<body>
		<%- partial('layout/layout_header.ejs') %>

		<section id="headline" class="section bg-green">
			<div class="container position-relative">
				<div class="tagging_warp">
					<img src="/images/tagging/hashtag.png">
				</div>
				<div class="input_warp">
					<input type="text" class="tagging_url" placeholder="">
					<button type="button" class="btn_start" onclick="activeTagging();">분석 시작</button>
				</div>
				<div class="comment_warp">
					<span>유튜브 영상 링크를 복사하고 텍스트창에 붙여넣기 하세요.</span>
					<span>예 ) https://www.youtube.com/watch?v=UknkihjVwWw</span>
				</div>
			</div>
		</section>

		<section id="tagging_detail" class="section bg-deepgreen">
			<div class="container">
				<div class="loading-container">
					<div class="loading"></div>
					<div id="loading-text">분석대기중</div>
				</div>
				<!-- <div class="detail_timer">
					<p id="detail_time" data-time="0">00:00</p>
					<p>해당 링크분석 완료까지 약간의 시간이 소요됩니다.</p>
				</div> -->

				<!-- <div class="detail_simple">
					<div class="left d-none">
						<img src="/images/tagging/cogi.png">
					</div>
					<div class="right d-none">
						<p>아리가 코기 천국에 상륙했습니다. ㅣ 8마리 웰시코기와 끝내주는 여름나기</p>
						<p>조회수 759,319회•2019. 6. 5.</p>
						<p>아리둥절 Ari the Corgi</p>
						<p>얼마전 8코기네에 소풍다녀왔어요~ :)</p>
					</div>
				</div> -->

			</div>
		</section>


		<%- partial('layout/layout_footer.ejs') %>
	</body>
	<%- partial('layout/layout_script.ejs') %>
 
</html>
